body {
  color: #874f41 !important ;
  background-color: #244855 !important;
}

.todo-item {
  border: 3px solid rgb(46, 44, 44);
  border-radius: 10px;
  background-color: #fbe9d0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.todo-name {
  color: black;
}
.todo-author {
  font-size: 0.8em
}
.add-item-row {
  margin-top: 50px !important;
  margin-bottom: 30px;
}
.input-box {
  padding: 10px;
  width: 100%;
  border: 2px solid gray;
}
.input-box:focus {
  outline: none;
}
.button-sort {
  height: 30px;
  border-radius: 10px;
}
.button-add {
  height: 40px;
  width: 100%;
  border: none;
  background-color: lightblue;
  color: white;
}
.button-add:hover {
  background-color: gray;
  color: white;
  border: 2px solid gray;
}
.button-delete {
  background-color: white;
  border: white;
  border-radius: 10px;
  color: lightblue;
  margin: 10px;
}
.button-delete:hover {
  background-color: #e64833;
  color: #ffffff;
}
.button-update {
  background-color: white;
  border: white;
  border-radius: 10px;
  color: lightblue;
  margin: 10px;
}
.button-update:hover {
  background-color: gray;
  color: #ffffff;
}
.item-complete {
  background-color: gainsboro;
  color: gray;
}

.button-logout {
  background-color: white;
  border: white;
  color: black;
  margin: 10px;
}
.button-logout:hover {
  background-color: gray;
  color: #ffffff;
}

.login-box {
  border: 1px solid lightblue;
  max-width: 600px;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.login-box label {
  font-weight: 700;
}

.display-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-box {
  display: flex;
  justify-content: space-between;
}

.button-primary {
  background-color: lightblue;
  color: #ffffff;
  border: none;
}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.button-comment {
  margin-right: 5px;
}